img {
    margin:0;
    padding:0;
    border:0;
}

div.top_menu{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 40px;
    background: #000;
}


div.top_menu  div.home{
    margin: 9px 25px;
}
div.top_menu  a{
    color: #fff;    
    text-decoration: none;
}

div.top_menu a:hover{
    text-decoration: underline;
}

div.top_menu div.title{
    margin: 0 25px;
    float: right;
}

div.top_menu div.title h1{
    font-size: 100%;
    font-weight: normal;
}

div.wrap{
    margin: 50px auto;
    width: 600px;
    
}


ul.slides_rotator{
	margin: 0;
	padding: 0;
	position: relative;
    list-style: none;
}


div.rotator{
	float: left;
	margin: 0 25px;
    position: relative;
}

a.rotator-nav{
	position: absolute;
	top: 50%;
	margin-top: -16px;
	z-index: 3;
	cursor: pointer;	
}


a.rotator-nav div{
	height: 32px;
	width: 32px;
	background: url('../images/nav.png')  no-repeat;	
}

#rotator-left{
	left:-16px;	
}

#rotator-left div{
	background-position: 0 0;	
}

#rotator-left:hover div{
	background-position: 0 -32px;	
}

#rotator-right{
	right:-16px;
}

#rotator-right div{
	background-position: -32px 0;	
}

#rotator-right:hover div{
	background-position: -32px -32px;
}